.t-text-light {
    color: $white;
}
.t-text-primary {
    color: $primary;
}
.t-link {
    display: inline-block;
    transition: all .3s ease;
    
    &:hover {
        text-decoration: none;
        
    }
    &:focus {
        outline: none;
    }

    &--light {
        color: $white;
        &:hover {
            color: $white;
        }
    }
    &--secondary {
        color: $secondary;
        &:hover {
            color: lighten($secondary, 15%);
        }
    }
    &--primary {
        color: $primary;
        &:hover {
            color: $primary;
        }
    }
}