//Margin Right
.t-mr-8 {
    margin-right: 8px;
}
.t-mr-16 {
    margin-right: 16px;
}
// Margin Left
// Margin Top
.t-mt-10 {
    margin-top: 10px;
}
.t-mt-16 {
    margin-top: 16px;
}
.t-mt-30 {
    margin-top: 30px;
}
//Margin Bottom
.t-mb-10 {
    margin-bottom: 10px;
}
.t-mb-16 {
    margin-bottom: 16px;
}
.t-mb-30 {
    margin-bottom: 30px;
}
.t-mb-70 {
    margin-bottom: 70px;
}
//Margin X
.t-mx-8 {
    margin-right: 8px;
    margin-left: 8px;
}