//Padding Right
.t-pr-15 {
    padding-right: 15px;
}
.t-pr-30 {
    padding-right: 30px;
}
//Padding-Left
.t-pl-15 {
    padding-left: 15px;
}
.t-pl-30 {
    padding-left: 30px;
}
//Padding Bottom
.t-pb-30 {
    padding-bottom: 30px;
}
.t-pb-40 {
    padding-bottom: 40px;
}
.t-pb-45 {
    padding-bottom: 45px;
}
.t-pb-60 {
    padding-bottom: 60px;
}
.t-pb-70 {
    padding-bottom: 70px;
}
//Padding Top
.t-pt-15 {
    padding-top: 15px;
}
.t-pt-30 {
    padding-top: 30px;
}
.t-pt-40 {
    padding-top: 40px;
}
.t-pt-60 {
    padding-top: 60px;
}
.t-pt-70 {
    padding-top: 70px;
}
//Padding x
//Padding Y