
//Typography
$body-font: 'Roboto', sans-serif;
$heading-font: 'Bebas Neue', cursive;

//Color
$text: #121053;
$heading-text: #14213d;

$white: #fff;
$black: #000;
$light: #e5e5e5;

$primary: #00b9f1;
$secondary: #14213d;

$alpha: #07b3e7;
$beta: #ff006e;
$gamma: #ec9718;
$delta: #4c7eeb;
$epsilon: #3dd8b6;
$zeta: #26d168;
$eta: #8338ec;
$theta: #332750;
// $lota:
// $kappa:

//Brand Color
$fb: #3b5998;
$tw: #1da1f2;
$ins: #f56040;
$in: #0077b5;
$be: #1769ff;
