
//Typography
$body-font: 'Roboto', sans-serif;
$heading-font: 'Oswald', sans-serif;
$alpha-font: 'Oswald', sans-serif;

//Color
$text: #121053;
$heading-text: #14213d;

$white: #fff;
$black: #000;
$light: #e5e5e5;

$primary: #fb5607;
$secondary: #14213d;

$alpha: #f77f00;
$beta: #ff006e;
$gamma: #3a86ff;
$delta: #8dc63f;
$epsilon: #ffae00;
$zeta: #30cfd0;
$eta: #8338ec;
// $theta: #fb5607;
// $lota:
// $kappa:

//Brand Color
$fb: #3b5998;
$tw: #1da1f2;
$ins: #f56040;
$in: #0077b5;
$be: #1769ff;
