
//Typography
$body-font: 'Roboto', sans-serif;
$heading-font: 'Poppins', sans-serif;

//Color
$text: #121053;
$heading-text: #121053;

$white: #fff;
$black: #000;

$primary: #fe491a;
$secondary: #371381;

// $alpha: 
// $beta:
// $gamma: 
// $delta:
// $epsilon:
// $zeta:
// $eta:
// $theta:
// $lota:
// $kappa:


//Brand Color
$fb: #3b5998;
$tw: #1da1f2;
$ins: #f56040;
$in: #0077b5;