.category-list {
	&__link {
		padding-top: 15px;
		padding-bottom: 15px;
		padding-right: 15px;
		padding-left: 15px;
        background-image: linear-gradient(-60deg, $gamma 0%, $eta 100%);
        font-family: $heading-font;
	}
}
