.tag {
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 10px;
    padding-right: 10px;
    font-size: 12px;
    line-height: 1;
    letter-spacing: 1px;
    &--skew {
        transform: skewX(-5deg);
    }
    &__skew-reverse {
        transform: skewX(5deg);
        display: inline-block;
    }
    &-alpha {
        background: $alpha;
    }
    &-beta {
        background: $beta;
    }
    &-gamma {
        background: $gamma;
    }
    &-delta {
        background: $delta;
    }
    &-epsilon {
        background: $epsilon;
    }
    &-zeta {
        background: $zeta;
    }
    &-secondary {
        background: $theta;
    }
}